body{
    margin:0;
    padding:0;
}

#chatcompanies tr{
    
    cursor : pointer;
}

#chatpanel, #adminchatpanel{
    
    height : 300px;
}

#chatlist, #adminchatlist{
    
    height : 90%;
    overflow-y: auto;
}

#chatmessage, #adminchatmessage{
    
    height : 10%;
}

#chatcustomers tr{
    
    cursor: pointer;
}