<div class="row">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">iHelp</a>
                </div>
                
                <ul class="nav navbar-nav">
                    <li><a href="#/">HOME</a></li>
                    <li class="active"><a href="#/admin">CHAT</a></li>
                </ul>
            
            
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown">Me <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Sign Out</a></li> 
                    </ul>
                </li>
            </ul>
            </div>
    </nav>
    
    <div class="row">
            <div class="col-md-offset-2 col-md-2">
                <div class="table-responsive">
                    <table id="chatcustomers" class="table table-hover">
                        <tr ng-repeat="u in adminCtrl.availableusers" ng-click="adminCtrl.activateCustomer(u.uid, u.username)">
                            <td>
                                <p><span class="glyphicon glyphicon-user"></span> {{u.firstname | uppercase}} {{u.lastname | uppercase}}</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="adminchatpanel" class="col-md-6">
                <div id="adminchatlist">
                    <ul class="media-list" id="adminchats">
                       <li class="list-group" ng-repeat="m in adminCtrl.adminmessages">
                           <p class="lead"><span class="glyphicon glyphicon-user"></span>{{m.sender | uppercase}} &nbsp;&nbsp;&nbsp;<span class="text-center">{{m.message}}</span></p>
                       </li>
                    </ul>
                </div>
                <div class="input-group" id="adminchatmessage">
                    <input type="text" class="form-control" ng-model="adminCtrl.chatmessage" placeholder="Send Message ..."/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="adminCtrl.sendMessageToCustomer(adminCtrl.chatmessage)">Send</button>
                    </span>
                </div>
            </div>
        </div>
</div>