<div class="row">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">iHelp</a>
            </div>
            
            <ul class="nav navbar-nav">
                <li><a href="#/">HOME</a>
                <li class="active"><a href="#/customersearch">CONTACT</a>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown"><span ng-bind="searchCtrl.user"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/" ng-click="searchCtrl.signOut($event);">Sign Out </a></li>
                    </ul>
                    
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="searchCtrl.enterprisename"  placeholder="Search Company ... "/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="searchCtrl.addEnterprise(searchCtrl.enterprisename)">Go</button>
                </span>
            </div>
            <div>
                <p ng-hide="searchCtrl.isFound" class="text-center alert alert-warning">Oops!!! You had already connected</p>
            </div>
        </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-offset-2 col-md-3">
                <div class="table-responsive">
                    <table id="chatcompanies" class="table table-hover">
                        <tr ng-repeat="e in searchCtrl.userenterprises" ng-init="id='searchCtrl.row'+$index;noteid = 'searchCtrl.note'+e.enterpriseId" ng-click="searchCtrl.activateChatAdmin(e.enterpriseId, e.name, $index)">
                            
                            <td ng-class="{'bg-info':{{id}}}">
                                <div class="pull-right"><button type="button" class="close" aria-label="Close" ng-click="searchCtrl.removeEnterprise($event, e.enterpriseId, $index);"><span>&times;</span></button></div>
                                <p>{{e.name | uppercase}} &nbsp;<span ng-show="{{noteid}}" class="badge"><span ng-bind="{{noteid}}"></span></span></p>
                                
                                 <p><small><span class="glyphicon glyphicon-user"></span>{{e.enterpriseadmin}}</small></p>
                                
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="chatpanel" class="col-md-5">
                <div id="chatlist">
                    <ul class="list-group" id="customerchats">
                       <li class="list-group-item listitemscustomer" ng-repeat="m in searchCtrl.customermessages | orderBy:'date'">
                           <p><span class="glyphicon glyphicon-user"></span>&nbsp; {{m.sender | uppercase}} &nbsp;&nbsp;&nbsp;<span class="text-center">{{m.message}}</span></p>
                       </li>
                    </ul>
                </div>
                <div class="input-group" id="chatmessage">
                    <input type="text" class="form-control" ng-model="searchCtrl.chatmessage" placeholder="Send Message ..."/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="searchCtrl.sendMessageToAdmin(searchCtrl.chatmessage)">Send</button>
                    </span>
                </div>
            </div>
        </div>
    
</div>